@import url('./base.css');

.switch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 1.8rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Lime-Green);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    left: 4px;
    bottom: 2.5px;
    background-color: var(--Dark-Desaturated-Blue);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: hsl(230, 22%, 74%);
}

/* input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
} */

input:checked+.slider:before {
    -webkit-transform: translateX(1.54rem);
    -ms-transform: translateX(1.54rem);
    transform: translateX(1.54rem);
    background-color: var(--White);
}

/* Rounded sliders */
.slider.round {
    border-radius: 1.2rem;
}

.slider.round:before {
    border-radius: 50%;
}